<nav .navbar role="navigation" aria-label="main navigation">
  <div .navbar-brand>
    <a .navbar-item href=@{HomeR}>
      <img src=@{StaticR logo_header_png}>

    <a role="button" .navbar-burger .burger aria-label="menu" aria-expanded="false" data-target="wemNavbar">
      <span aria-hidden="true">
      <span aria-hidden="true">
      <span aria-hidden="true">

  <div id="wemNavbar" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href=@{HomeR}>
        Worldwide Empathy for Medics
      <a class="navbar-item" href=@{SearchR}>
        _{MsgSearch}
      <a class="navbar-item" href=@{FaqR}>
        _{MsgIsThisForMeTitle}
      <a class="navbar-item" href=@{AboutR}>
        _{MsgAboutUs}
      <a class="navbar-item" href=@{StaticR press_kit_zip}>
        _{MsgPressKit}
      <a class="navbar-item" href=@{PrivacyPolicyR}>
        _{MsgPrivacyPolicyTitle}
      <a class="navbar-item" href=@{CookiePolicyR}>
        _{MsgCookiePolicyTitle}

    <div class="navbar-end">
      <div .navbar-item .has-dropdown .is-hoverable>
        <a .navbar-link>
          Language
        <div .navbar-dropdown .is-hidden-mobile>
          $forall lang <- supportedLanguages
            <form method=post action=@{SelectLanguageR lang}>
              <button .button .is-text .type=submit .navbar-item>
                #{supportedLanguageNative lang}

<section .section>
  <section .container>
    $forall msg <- formFailureMsgs
      <p>
        #{msg}
    $forall (_, msg) <- msgs
      #{msg}

    ^{body}
